.role {
    display: flex;
    justify-content: space-evenly;
}



button.mat-flat-button {
    font-size: 20px;
    width: 150px;
    height: 45px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
