table {
    width: 100%;
}

#addAbsenceButton {
  width: 250px;
  height: 100%;
  font-size: 18px;
}

.sort {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.role {
  display: flex;
  justify-content: space-evenly;
}



button.mat-flat-button {
  font-size: 20px;
  width: 150px;
  height: 45px;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

