table {
    width: 100%;
}

.sort {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

button.mat-flat-button, a.mat-flat-button {
  font-size: 20px;
  width: 180px;
  height: 45px;

}

a {
  text-decoration: none;
}

td, th, th.mat-header-cell {
  text-align: center;
}

