table {
    width: 100%;
}

.sort {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.role {
  display: flex;
  justify-content: space-evenly;
}



button.mat-flat-button, a.mat-flat-button {
  font-size: 20px;
  width: 180px;
  height: 45px;
}

a {
  /* color: rgb(255, 255, 255); */
  text-decoration: none;
}

