<mat-tab-group (selectedTabChange)="changeRole($event.tab.textLabel)">
  <mat-tab label="Employee"></mat-tab>
  <mat-tab label="Manager"></mat-tab>
</mat-tab-group>

<div class="sort">
  <mat-form-field [formGroup]="choiceForm">
      <mat-select placeholder="Order by" formControlName="choiceControl" (selectionChange)="onChangeChoice($event.value)">
        <mat-option [value]="choice" *ngFor="let choice of choices">{{choice}}</mat-option>
      </mat-select>
  </mat-form-field>

  <div>
    <mat-form-field [formGroup]="ReasonForm">
        <mat-select placeholder="Filter by" formControlName="ReasonControl" (selectionChange)="onChangeFilter($event.value)">
          <mat-option [value]="reason" *ngFor="let reason of reasons">{{reason}}</mat-option>
        </mat-select>
    </mat-form-field>
  </div>

  <a *ngIf='isEmployee' mat-flat-button routerLink="/absence-request">Add</a>

  <button mat-flat-button *ngIf='isManager && seeAll==false' type='button' (click)='toggle()'>{{buttonName}}</button>
  <button mat-flat-button *ngIf='isManager && seeAll==true' type='button' (click)='toggle()'>{{buttonName}}</button>
</div>  


<table mat-table [dataSource]="absences" class="mat-elevation-z8">
  
  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let absence"> {{ absence.emissionDate | date:'shortDate'}} </td>
  </ng-container>
  
  <ng-container matColumnDef="Reason">
    <th mat-header-cell *matHeaderCellDef> Reason </th>
    <td mat-cell *matCellDef="let absence"> {{ absence.reason}} </td>
  </ng-container>
  
  <ng-container matColumnDef="Start">
    <th mat-header-cell *matHeaderCellDef> Start </th>
    <td mat-cell *matCellDef="let absence"> {{ absence.startDate | date:'shortDate'}} </td>
  </ng-container>
  
  <ng-container matColumnDef="End">
    <th mat-header-cell *matHeaderCellDef> End </th>
    <td mat-cell *matCellDef="let absence"> {{ absence.endDate | date:'shortDate'}} </td>
  </ng-container>
  
  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let absence"> {{ absence.status }} </td>
  </ng-container>

  <ng-container  matColumnDef="Validation">
    <th mat-header-cell *matHeaderCellDef> Validation </th>
    <td mat-cell *matCellDef="let absence">
      <mat-form-field *ngIf='absence.status == "InProgress" && isManager'>
        <mat-select [value]="selected" (selectionChange)="changeStatus($event.value,absence)">
          <mat-option value="Approved">Accept</mat-option>
          <mat-option value="Refused">Refuse</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
